In [1]:
import pandas as pd

data = {
    ('Sales', 'Online'): [1000, 1200, 1300, 1100, 1400, 1500, 1600, 1700],
    ('Sales', 'In-Store'): [800, 900, 950, 870, 930, 920, 980, 970],
    ('Expenses', 'Online'): [500, 600, 700, 550, 650, 680, 720, 750],
    ('Expenses', 'In-Store'): [300, 400, 450, 370, 430, 420, 480, 470]
}

quarters = ['Q1 2021', 'Q2 2021', 'Q3 2021', 'Q4 2021', 'Q1 2022', 'Q2 2022', 'Q3 2022', 'Q4 2022']
financial_data = pd.DataFrame(data, index=quarters)

# a) Online sales for Q1 2022
online_s_q1_2022 = financial_data.loc['Q1 2022', ('Sales', 'Online')]

# b) In-store expenses in Q3 2021
instore_exp_q3_2021 = financial_data.loc['Q3 2021', ('Expenses', 'In-Store')]

# c) Total sales for Q4 2021
total_s_q4_2021 = financial_data.loc['Q4 2021', ('Sales', 'Online')] + financial_data.loc['Q4 2021', ('Sales', 'In-Store')]

# d) Expenses for online channel in 2022
online_exp_2022 = financial_data.loc[['Q1 2022', 'Q2 2022', 'Q3 2022', 'Q4 2022'], ('Expenses', 'Online')].sum()

# e) Sales data for Q2 2021
sales_q2_2021 = financial_data.loc['Q2 2021', 'Sales']

# f) Maximum expense recorded in 2022
max_expense_2022 = financial_data.loc[['Q1 2022', 'Q2 2022', 'Q3 2022', 'Q4 2022'], 'Expenses'].max().max()

print("a) Online sales for Q1 2022:", online_s_q1_2022)
print("b) In-store expenses in Q3 2021:", instore_exp_q3_2021)
print("c) Total sales for Q4 2021:", total_s_q4_2021)
print("d) Expenses for online channel in 2022:", online_exp_2022)
print("e) Sales data for Q2 2021:\n", sales_q2_2021)
print("f) Maximum expense recorded in 2022:", max_expense_2022)

a) Online sales for Q1 2022: 1400
b) In-store expenses in Q3 2021: 450
c) Total sales for Q4 2021: 1970
d) Expenses for online channel in 2022: 2800
e) Sales data for Q2 2021:
 Online      1200
In-Store     900
Name: Q2 2021, dtype: int64
f) Maximum expense recorded in 2022: 750

In [2]:
data = {
    'Store': ['Store A', 'Store B', 'Store C'],
    'Product': ['Product 1', 'Product 2', 'Product 3'],
    'Sales': [100, 200, 150]
}
df = pd.DataFrame(data)

stacked_df = df.set_index(['Store', 'Product']).stack()
print(stacked_df)

Store    Product
Store A  Product 1  Sales    100
Store B  Product 2  Sales    200
Store C  Product 3  Sales    150
dtype: int64

In [3]:
unstacked_df = stacked_df.unstack()
print(unstacked_df)

                   Sales
Store   Product
Store A Product 1    100
Store B Product 2    200
Store C Product 3    150

In [6]:
index = pd.MultiIndex.from_tuples([
    ('Sales', 'Manager'), 
    ('Sales', 'Executive'), 
    ('HR', 'Manager'), 
    ('HR', 'Executive')
], names=['Department', 'Role'])

df = pd.DataFrame({'Employee': ['Rudra', 'Kishan', 'Samarth', 'Sam']}, index=index)
print(df)

                     Employee
Department Role
Sales      Manager      Rudra
           Executive   Kishan
HR         Manager    Samarth
           Executive      Sam

In [7]:
sales_employees = df.xs('Sales')
print(sales_employees)

          Employee
Role
Manager      Rudra
Executive   Kishan

In [8]:
grades_data = {
    'Student': ['sam', 'kish', 'rudra', 'Davidputra'],
    'Subject': ['Math', 'Science', 'Math', 'Science'],
    'Grade': [88, 92, 85, 91]
}
grades_df = pd.DataFrame(grades_data)

sorted_grades_df = grades_df.sort_values(by=['Subject', 'Grade'])
print(sorted_grades_df)

      Student  Subject  Grade
2       rudra     Math     85
0         sam     Math     88
3  Davidputra  Science     91
1        kish  Science     92

In [9]:
reset_grades_df = sorted_grades_df.reset_index(drop=True)
print(reset_grades_df)

      Student  Subject  Grade
0       rudra     Math     85
1         sam     Math     88
2  Davidputra  Science     91
3        kish  Science     92

In [10]:
weather_data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03'],
    'Temperature': [22, 24, 21]
}
weather_df = pd.DataFrame(weather_data)

weather_df['Date'] = pd.to_datetime(weather_df['Date'])
weather_df.set_index('Date', inplace=True)
print(weather_df)

            Temperature
Date
2023-01-01           22
2023-01-02           24
2023-01-03           21

In [11]:
multi_index_data = pd.DataFrame(
    {'Sales': [100, 150, 200]},
    index=pd.MultiIndex.from_tuples(
        [('Store A', 'Product 1'), ('Store A', 'Product 2'), ('Store B', 'Product 1')],
        names=['Store', 'Product']
    )
)

flattened_df = multi_index_data.reset_index()
print(flattened_df)

     Store    Product  Sales
0  Store A  Product 1    100
1  Store A  Product 2    150
2  Store B  Product 1    200

In [12]:
category_product_data = pd.DataFrame(
    {'Price': [10, 15, 20, 30]},
    index=pd.MultiIndex.from_tuples(
        [('Electronics', 'Phone'), ('Electronics', 'Laptop'), ('Clothing', 'Shirt'), ('Clothing', 'Pants')],
        names=['Category', 'Product']
    )
)

average_by_category = category_product_data.groupby(level='Category').mean()
print(average_by_category)

             Price
Category
Clothing      25.0
Electronics   12.5